<header>
  <nav>
    <h1>WhatTheFamily</h1>
    <ul>
      <li class="{{#eq page 'home'}}active{{/eq}}">
        <a can-href='{page="home"}'>Home</a>
      </li>
      <li class="{{#eq page 'sources'}}active{{/eq}}">
        <a can-href='{page="sources"}'>Sources</a>
      </li>
      <li class="{{#eq page 'people'}}active{{/eq}}">
        <a can-href='{page="people"}'>People</a>
      </li>
    </ul>
  </nav>
</header>
