{{> app/header}}

<div class="container">
  {{#eq page "home"}}
    {{> app/home}}
  {{/eq}}

  {{#eq page "sources"}}
    <wtf-sources></wtf-sources>
  {{/eq}}

  {{#eq page "people"}}
    <wtf-people></wtf-people>
  {{/eq}}

  {{#eq page "places"}}
    <wtf-places></wtf-places>
  {{/eq}}

  {{#eq page "events"}}
    <wtf-events></wtf-events>
  {{/eq}}

  {{#eq page "familytree"}}
    <wtf-familytree></wtf-familytree>
  {{/eq}}

  {{#eq page "map"}}
    <wtf-map-places></wtf-map-places>
  {{/eq}}
</div>
