<div class="container">
  <div class="row">

    <!-- List -->
    <div class="col-md-4" style="overflow-y: scroll; height: 100%;">

        <input type="text" placeholder="Filter by name" {($value)}="filterQuery" />

        {{#if object_list.isPending}}
          <p>Loading items...</p>
        {{else}}
          {{#if object_list }}
            <div class="list-group">
              {{#each object_list.value}}
                <button type="button" can-click="selectObject" class="list-group-item" title="{{ id }}">
                    {{ first_and_last_names }} ({{ birth }})
                </button>
              {{/object_list}}
            </div>
          {{else}}
            Nothing to show.
          {{/if}}
        {{/if}}
    </div>

    <!-- Detail -->
    <div class="col-md-8">
      {{#if selectedObject.isPending }}
        Loading object...
      {{else}}
        {{#with selectedObject}}

          <h2>{{ name }}</h2>

          <p>{{ birth }} — {{ death }}</p>

          <p>{{ gender }}</p>

          <dl class="dl-horizontal">
            <dt>Варианты имен</dt>
            {{#names}}
              <dd>{{.}}</dd>
            {{/names}}
            {{#attributes}}
              <dt>{{type}}</dt>
              <dd>{{value}}</dd>
            {{/attributes}}
          </dl>

          <h3>TODO</h3>

          <p>Events: {{ event_ids.toSource }}</p>
          <p>Notes: {{ note_ids.toSource }}</p>
          <p>Citations: {{ citation_ids.toSource }}</p>
          <p>Parents' families: {{ child_in_families.toSource }}</p>
          <p>Parent in families: {{ parent_in_families.toSource }}</p>

        {{/with}}
      {{/if}}

    </div>
  </div>
</div>
