{% extends 'base.html' %}

{% block title -%}{{ obj.source.abbrev }} {{ obj.page }}{%- endblock %}

{% block breadcrumbs %}
  <a href="{{ url_for('source_detail', obj_id=obj.source.id) }}">{{ obj.source }}</a>
{% endblock %}

{% block heading %}
{{ obj.source.abbrev or obj.source }}: {{ obj.page or 'Unnamed citation' }} ({{ obj.date or 'unknown date' }})
{% endblock %}

{% block content %}

<dl class="dl-horizontal" style="overflow: hidden;">
{#
  <dt>Source</dt>
  <dd>
    <a href="{{ url_for('source_detail', obj_id=obj.source.id) }}">{{ obj.source.title }}</a>
  </dd>

  <dt>Date</dt>
  <dd>{{ obj.date }}</dd>

  <dt>Page</dt>
  <dd>{{ obj.page }}</dd>
#}

  {% if obj.events|list %}
    <dt>Proved Events</dt>
    <table class="table">
      <thead>
        <tr>
            <th>ID</th>
            <th>Dates</th>
            <th>Place</th>
            <th>People</th>
        </tr>
      </thead>
      <tbody>
      {% for event in obj.events %}
        <tr>
          <td>
            <a href="{{ url_for('event_detail', obj_id=event.id) }}">
              {{ event.id }}
            </a>
          </td>
          <td>
            {{ event.date }}
          </td>
          <td>
            {{ event.place }}
          </td>
          <td>
            {% for person in event.people %}
              <a href="{{ url_for('person_detail', obj_id=person.id) }}">{{ person }}</a>,
            {% endfor %}
            {% for family in event.families %}
              {% for person in family.people %}
                <a href="{{ url_for('person_detail', obj_id=person.id) }}">{{ person }}</a>,
              {% endfor %}
            {% endfor %}
          <td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    <div class="alert alert-warning" role="alert">No events reference this citation.</div>
  {% endif %}

  {% if obj.people|list %}
    <dt>Described People</d>
    {% for p in obj.people %}
      <dd><a href="{{ url_for('person_detail', obj_id=p.id) }}">{{ p }}</a></dd>
    {% endfor %}
  {% endif %}

  {% if obj.places %}
    <dt>Described Places</d>
    {% for p in obj.places %}
      <dd><a href="{{ url_for('place_detail', obj_id=p.id) }}">{{ p }}</a></dd>
    {% endfor %}
  {% endif %}

  {% if obj.media %}
    <dt>Файлы</dt>
    {% for media_obj in obj.media %}
    <dd>
      {{ media_obj.description }} ({{ media_obj.date }})
      {{ media_obj.mime }}
      {{ media_obj.src }}
    </dd>
    {% endfor %}
  {% endif %}
</dl>

{% for note in obj.notes %}
  <!-- note id={{ note.id }} -->
  <p>{{ note.text|replace('  ', '&nbsp;&nbsp;')|replace('\n','<br>')|safe }}</p>
    {#
    <blockquote>
      <p>{{ note.text }}</p>
      <footer>
        Note <cite>{{ note.id }}</cite>
      </footer>
    </blockquote>
    #}
    {% if config.DEBUG %}<code>{{ note._data|pprint }}</code>{% endif %}
    {% if not loop.last %}<hr/>{% endif %}
{% endfor %}

{% if config.DEBUG %}
  <h2>Debug</h2>
  <code>{{ obj._data|pprint }}</code>
{% endif %}

{% endblock %}
