{% extends 'base.html' %}

{% block heading %}
    Citations
{% endblock %}

{% block content %}

<dl>
{% for source in groups %}
    <dt>{{ source }}</dt>
    <dd>
        <ul>
        {% for citation in groups[source] %}
            <li>
                <a href="{{ url_for('citation_detail', obj_id=citation.id) }}">{{ citation.id }}</a>
                {{ citation.page|urlize or '(page?)' }}
                {% if citation.date %}
                  ({{ citation.date }})
                {% endif %}
                {#<code>{{ citation._data|pprint }}</code>#}
            </li>
        {% endfor %}
        </ul>
    </dd>
{% endfor %}
</dl>

{% endblock %}
