{% extends 'base.html' %}

{% block heading %}
    Event {{ obj.id }}
{% endblock %}

{% block content %}

<dl class="dl-horizontal">
    <dt>Date</dt>
        <dd>{{ obj.date }}</dd>
    <dt>Type</dt>
        <dd>{{ obj.type }}</dd>
    <dt>Place</dt>
        <dd>
        {% if obj.place %}
            <a href="{{ url_for('place_detail', obj_id=obj.place.id) }}">{{ obj.place }}</a>
        {% else %}
            ?
        {% endif %}
        </dd>
    <dt>Summary</dt>
        <dd>{{ obj.summary }}</dd>
</dl>

Related people:

<ul>
{% for person in obj.people %}
    <li><a href="{{ url_for('person_detail', obj_id=person.id) }}">{{ person }}</a></li>
{% endfor %}
</ul>

Related families:

<ul>
{% for family in obj.families %}
    <li><a href="{{ url_for('family_detail', obj_id=family.id) }}">{{ family }}</a></li>
{% endfor %}
</ul>

Related citations:

{% if obj.citations %}
<ul>
{% for citation in obj.citations %}
    <li>
        <a href="{{ url_for('source_detail', obj_id=citation.source.id) }}">{{ citation.source.title }}</a>:
        <a href="{{ url_for('citation_detail', obj_id=citation.id) }}">{{
            citation.page }} ({{ citation.date }})</a>, {{ citation.notes|list|length }} notes.
    </li>
{% endfor %}
</ul>
{% endif %}


<h2>Debug</h2>
<dl class="dl-horizontal">
{% for key in obj._data %}
    <dt><code>{{ key }}</code></dt>
    <dd><code>{{ obj._data[key]|pprint }}</code></dd>
{% endfor %}
</dl>

{% endblock %}
