{% extends 'base.html' %}

{% block heading %}
  Family Tree (Experimental)
{% endblock %}

{% block head %}
  <script type="text/javascript" src="{{ url_for('static', filename='js/autoshape.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/familytree.js') }}"></script>
  <style type="text/css">
    .familytree-node {
      font-size: 7pt;
      line-height: 11pt;
      vertical-align: bottom;
      font-family: verdana;
      z-index: 2;
    }
    .familytree-node .blurb {
      background-color: rgb(150,150, 100);
      margin-top: 1px;
      padding: 2px;
      font-size: 6pt;
      line-height: 8pt;
      z-index: 2;
    }
    .familytree-node a:active {
      color: red !important;
    }
  </style>
{% endblock %}

{% block content %}
  <div id="familytree"></div>
{% endblock %}

{% block foot %}
  <script type="text/javascript" src="{{ data_script }}"></script>
  <script type="text/javascript">drawFamilyTree();</script>
{% endblock %}
