{% extends 'base.html' %}

{% block title -%}Family Chart{%- endblock %}

{% block pageheader %}
{% endblock %}

{% block head %}
  <link href="{{ url_for('static', filename='css/jquery-ui.min.css') }}" media="screen" rel="stylesheet" type="text/css" />
  <link href="{{ url_for('static', filename='css/theme.css') }}" rel="stylesheet" type="text=css" />
  <link href="{{ url_for('static', filename='css/primitives.latest.css') }}" media="screen" rel="stylesheet" type="text/css" />

  <!-- data-main attribute tells require.js to load scripts/main.js after require.js loads. -->
  <script data-main="/static/js/deprecating/familytree_via_primitives" src="/static/js/bower_components/requirejs/require.js"></script>
{% endblock %}

{% block content %}
  <div id="basicdiagram" style="width: 1100px; height: 800px;"/>
{% endblock %}
