{% extends 'base.html' %}

{% block heading %}
    Migrations of given people
{% endblock %}

{% block content %}
    <style>
        #map-canvas { width: 1100px; height: 600px; }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=visualization"></script>
    <script>

var map, pointarray, heatmap;

//var MY_MAPTYPE_ID = 'my_simplified_map';

var places = [
    {% for place in places %}
        {% if place.coords %}
            {
                center: new google.maps.LatLng({{ place.coords.lat }},
                                               {{ place.coords.lng }}),
                event_cnt: {{ place.events|list|length }},
                title: '{{ place.name }} ({{ place.events_years }})',
                id: '{{ place.id }}',
                //years: '{{ place.events_years }}',
                //people: '{{ place.people }}',
                people: '{% for p in place.people %}<a href="/person/{{ p.id }}">{{ p }}</a>{% if not loop.last %}; {% endif %}{% endfor %}',
            },
        {% endif %}
    {% endfor %}
];

function initialize() {

    // http://stackoverflow.com/a/12254019/68097
    function get(n) {
        var half = location.search.split(n + '=')[1];
        return half !== undefined ? decodeURIComponent(half.split('&')[0]) : null;
    }

    var lat = get('lat') || 55.55;
    var lng = get('lng') || 26.2;
    var zoom = parseInt(get('zoom')) || 5;
    var mapOptions = {
        zoom: zoom,
        center: new google.maps.LatLng(lat, lng),
        scaleControl: true,
    };
    map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

    // Define a symbol using a predefined path (an arrow)
    // supplied by the Google Maps JavaScript API.
    var lineSymbol = {
        path: google.maps.SymbolPath.FORWARD_CLOSED_ARROW
    };

    {% for person in people %}
        {% if person.places %}
            // {{ person }}
            new google.maps.Polyline({
                path: [
                {% for event in person.events %}
                    {% if event.place.coords %}
                    {
                        lat: {{ event.place.coords.lat }},
                        lng: {{ event.place.coords.lng }}
                    },
                    {% endif %}
                {% endfor %}
                ],
                geodesic: true,
                strokeColor: '#'+(Math.random()*0xFFFFFF<<0).toString(16),
                strokeOpacity: 1.0,
                strokeWeight: 2,
                map: map,
                icons: [{
                    icon: lineSymbol,
                    offset: '100%'
                }],
            });
        {% endif %}
    {% endfor %}

    var place_circle;
    for (var i in places) {
        var place = places[i];

        var infowindow = new google.maps.InfoWindow({
            content: '<a href="/place/'+ place.id +'">'+ place.title +'</a> — '
                + place.event_cnt +' events.'
                +'<p>'+ place.people +'</p>',
        });
        var marker = new google.maps.Marker({
            map: map,
            title: place.title,
            label: place.title,
            position: place.center,
            infowindow: infowindow,
        });
        google.maps.event.addListener(marker, 'click', function() {
            console.log('Got click on marker', marker, '- will show', infowindow);
            this.infowindow.open(map, this);
        });
        console.log('Added listener', infowindow, 'for click on', marker);
    }
    console.log('initialized');
}

google.maps.event.addDomListener(window, 'load', initialize);

    </script>

<div id="map-canvas"></div>

{% endblock %}
