{% extends 'base.html' %}

{% block heading %}
    {{ obj.name }}
{% endblock %}

{% block content %}

<dl class="dl-horizontal">
    {% if obj.names|length > 1 %}
        <dt>Варианты имён</dt>
        {% for name in obj.names %}
        <dd>{{ name }}</dd>
        {% endfor %}
    {% endif %}

    {% if obj.get_parent_families() or obj.get_families %}
        <p><a href="{{ url_for('familytreejs') }}#{{ obj.id }}">Посмотреть в семейном древе</a></p>
    {% else %}
        <p>Фактов о родителях или семьях нет, поэтому в семейном древе персона не отображается.</p>
    {% endif %}

    <dt>Родители</dt>
    {% for family in obj.get_parent_families() %}
        <dd>
            <a href="{{ url_for('family_detail', obj_id=family.id) }}">{{ family.id }}</a>
            —
            <a href="{{ url_for('person_detail', obj_id=family.father.id) }}">{{ family.father or '?'}}</a>
            {% if family.father.birth %}
                {{ family.father.birth }}
            {% endif %}
            и
            <a href="{{ url_for('person_detail', obj_id=family.mother.id) }}">{{ family.mother or '?'}}</a>
            {% if family.mother.birth %}
                {{ family.mother.birth }}
            {% endif %}
            <ul>
            {% for child in family.children %}
                <li>
                    {% if child.id == obj.id %}
                        {{ child }}
                    {% else %}
                        <a href="{{ url_for('person_detail', obj_id=child.id) }}">{{ child }}</a>
                        {% if child.birth %}
                            {{ child.birth }}
                        {% endif %}
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
        </dd>
    {% endfor %}

    <dt>Семья</dt>
    {% for family in obj.get_families() %}
        <dd>
            <a href="{{ url_for('family_detail', obj_id=family.id) }}">{{ family.id }}</a>
            —
            {% if family.father.id != obj.id %}
                <a href="{{ url_for('person_detail', obj_id=family.father.id) }}">
                    {{ family.father or '?' }}
                </a>
                {% if family.father.birth %}
                    {{ family.father.birth }}
                {% endif %}
            {% endif %}
            {% if family.mother.id != obj.id %}
                <a href="{{ url_for('person_detail', obj_id=family.mother.id) }}">
                    {{ family.mother or '?' }}
                </a>
                {% if family.mother.birth %}
                    {{ family.mother.birth }}
                {% endif %}
            {% endif %}
            <ul>
            {% for child in family.children %}
                <li>
                    <a href="{{ url_for('person_detail', obj_id=child.id) }}">{{ child }}</a>
                </li>
            {% endfor %}
            </ul>
        </dd>
    {% else %}
        <dd>—</dd>
    {% endfor %}

    {% for attr in obj.attributes %}
        <dt>{{ attr.type }}</dt>
        <dd>{{ attr.value }}</dd>
    {% endfor %}
</dl>

<!-- h2>Events</h2 -->

<table class="table table-striped table-hover">
  <tr>
    <th>ID</th>
    <th>Place</th>
    <th>Date</th>
    <th>Type</th>
    <th>Summary</th>
    <th>People</th>
  </tr>
{% for event in obj.events %}
  <tr>
    <td>
      <a href="{{ url_for('event_detail', obj_id=event.id) }}">{{ event.id }}</a>
    </td>
    <td>
      {% if event.place %}
        <a href="{{ url_for('place_detail', obj_id=event.place.id) }}">{{ event.place }}</a>
      {% else %}
        ?
      {% endif %}
    </td>
    <td>
      {{ event.date }}
    </td>
    <td>
      {{ event.type }}
    </td>
    <td>
      {{ event.summary }}
    </td>
    <td>
      <ul>
      {% for p in event.people %}
        {% if p.id != obj.id %}
          <li><a href="{{ url_for('person_detail', obj_id=p.id) }}">{{ p }}</a></li>
        {% endif %}
      {% endfor %}
      </ul>
    </td>
  </tr>
{% endfor %}
</table>


<h2>Debug</h2>
<dl class="dl-horizontal">
{% for key in obj._data %}
    <dt><code>{{ key }}</code></dt>
    <dd><code>{{ obj._data[key]|pprint }}</code></dd>
{% endfor %}
</dl>

{% endblock %}
