{% extends 'base.html' %}

{% block title -%}{{ obj.name }}{%- endblock %}

{% block heading %}
    {{ obj.name }}
    <small>
      {% if obj._data.gender == 'M' %}
        <span class="icon-male">♂</span>
      {% elif obj._data.gender == 'F' %}
        <span class="icon-female">♀</span>
      {% endif %}
      {% if obj.birth %}✶{{ obj.birth }}{% endif %}
      &nbsp;
      {% if obj.death %}✝{{ obj.death }}{% endif %}
      {% if obj.age %}({{ obj.age }} лет){% endif %}
    </small>
{% endblock %}

{% block content %}

<dl class="dl-horizontal">
    {% if obj.names|length > 1 %}
        <dt>Варианты имён</dt>
        {% for name in obj.names %}
        <dd>{{ name }}</dd>
        {% endfor %}
    {% endif %}

    {% if obj.get_parent_families() or obj.get_families %}
        <p><a href="{{ url_for('familytree_primitives') }}#{{ obj.id }}">Посмотреть в семейном древе</a></p>
    {% else %}
        <p>Фактов о родителях или семьях нет, поэтому в семейном древе персона не отображается.</p>
    {% endif %}

    {% if obj.places %}
        <p><a href="{{ url_for('map_migrations', person_ids=obj.id) }}">Посмотреть перемещения на карте</a></p>
    {% endif %}
    <p><a href="{{ url_for('map_migrations', person_ids=obj.related_people|join(',', attribute='id')) }}">Посмотреть перемещения всех связанных лиц на карте</a></p>

    {% for family in obj.get_parent_families() %}
        <dt><a href="{{ url_for('family_detail', obj_id=family.id) }}">Семья родителей</a></dt>
        <dd>
            отец <a href="{{ url_for('person_detail', obj_id=family.father.id) }}">{{ family.father or '?'}}</a>
            {% if family.father.birth %}
                ({{ family.father.birth }})
            {% endif %}
        </dd>
        <dd>
            мать <a href="{{ url_for('person_detail', obj_id=family.mother.id) }}">{{ family.mother or '?'}}</a>
            {% if family.mother.birth %}
                ({{ family.mother.birth }})
            {% endif %}
        </dd>
        {% for child in family.children|sort(attribute='birth') %}
            <dd>
                {% if child.id == obj.id %}
                    <!--span class="bg-info">{{ child }}</span-->
                {% else %}
                    <!-- note: roles relative to the central person -->
                    {% if child.gender == 'M'  %}брат{% elif child.gender == 'F' %}сестра{% endif %}
                    <a href="{{ url_for('person_detail', obj_id=child.id) }}">{{ child }}</a>
                    {% if child.birth %}
                        ({{ child.birth }})
                    {% endif %}
                {% endif %}
            </dd>
        {% endfor %}
    {% endfor %}

    {% for family in obj.get_families() %}
        <dt><a href="{{ url_for('family_detail', obj_id=family.id) }}">Семья</a></dt>
        <dd>
            {% if family.father.id == obj.id %}
                <!--span class="bg-info">{{ family.father }}</span-->
            {% else %}
                муж
                <a href="{{ url_for('person_detail', obj_id=family.father.id) }}">
                    {{ family.father or '?' }}
                </a>
                {% if family.father.birth %}
                    ({{ family.father.birth }})
                {% endif %}
            {% endif %}
        </dd>
        <dd>
            {% if family.mother.id == obj.id %}
                <!--span class="bg-info">{{ family.mother }}</span-->
            {% else %}
                жена
                <a href="{{ url_for('person_detail', obj_id=family.mother.id) }}">
                    {{ family.mother or '?' }}
                </a>
                {% if family.mother.birth %}
                    ({{ family.mother.birth }})
                {% endif %}
            {% endif %}
        </dd>
        {% for child in family.children %}
            <dd>
                {% if child.gender == 'M'  %}сын{% elif child.gender == 'F' %}дочь{% endif %}
                <a href="{{ url_for('person_detail', obj_id=child.id) }}">{{ child }}</a>
                {% if child.birth %}
                    ({{ child.birth }})
                {% endif %}
            </dd>
        {% endfor %}
    {% endfor %}

    {% for attr in obj.attributes %}
        <dt>{{ attr.type }}</dt>
        <dd>{{ attr.value }}</dd>
    {% endfor %}

    {% if obj.citations %}
        <dt>Цитаты</dt>
        {% for citation in obj.citations %}
            <dd><a href="{{ url_for('citation_detail', obj_id=citation.id)
            }}">{{ citation.source }}: {{ citation }}</a></dd>
        {% endfor %}
    {% endif %}
</dl>

<!-- h2>Events</h2 -->

<table class="table table-striped table-hover">
  <tr>
    <th>ID</th>
    <th>Место</th>
    <th>Дата</th>
    <th>Тип</th>
    <th>Описание</th>
    <th>Другие участники</th>
    <th>Цитаты</th>
  </tr>
{% set prev_place = None %}
{% for event in obj.events|sort(attribute='date') %}
  <tr>
    <td>
      <a href="{{ url_for('event_detail', obj_id=event.id) }}">{{ event.id }}</a>
    </td>
    <td>
      {% if event.place %}
        {% if event.place.coords and prev_place and prev_place.coords and event.place.id != prev_place.id %}
            <span class="badge">+{{ '{:.0f}'.format(prev_place.distance_to(event.place).km) }}&nbsp;км</span>
        {% endif %}
        <a href="{{ url_for('place_detail', obj_id=event.place.id) }}">{{ event.place.name }}</a>
      {% else %}
        ?
      {% endif %}
    </td>
    <td style="min-width: 24ex;">
      {{ event.date }}
    </td>
    <td>
      <span class="label label-primary">{{ event.type }}</span>
    </td>
    <td>
      <small>{{ event.summary }}</small>
    </td>
    <td>
      {% for p in event.people if p.id != obj.id %}
        <a href="{{ url_for('person_detail', obj_id=p.id) }}" title="{{ p }}">{{ p.initials }}</a>{% if not loop.last %}, {% endif %}
      {% endfor %}
    </td>
    <td>
      {% if event.citations %}
        {% for c in event.citations %}
          <small>{% if loop.length > 1 %}{{ loop.index }})&nbsp;{% endif %}<a href="{{ url_for('citation_detail', obj_id=c.id) }}" title="{{ c.source }}">{{ c.source.abbrev or c.source }}: {{ c }}</a></small>{% if not loop.last %}; {% endif %}
        {% endfor %}
      {% endif %}
    </td>
  </tr>
  {% if event.place %}
    {% set prev_place = event.place %}
  {% endif %}
{% endfor %}
</table>


<h2>Debug</h2>
<dl class="dl-horizontal">
{% for key in obj._data %}
    <dt><code>{{ key }}</code></dt>
    <dd><code>{{ obj._data[key]|pprint }}</code></dd>
{% endfor %}
</dl>

{% endblock %}
