{% extends 'base.html' %}

{% block heading %}
  {{ obj.name }}
  <small>{{ obj.title }}</small>
{% endblock %}

{% block content %}

<dl class="dl-horizontal">
  <dt>Другие названия</dt>
    <dd>{{ obj.alt_names|join(', ') or '—' }}</dd>

  {% if obj.parent_places %}
    <dt>В составе мест</dt>
    {% for p in obj.parent_places %}
      <dd>
        <a href="{{ url_for('place_detail', obj_id=p.id) }}">{{ p }}</a>
        ({{ p.events|length }} событий, {{ p.nested_places|length }} мест)
      </dd>
    {% endfor %}
  {% endif %}

  <dt>Содержит</dt>
  {% for p in obj.nested_places %}
    <dd>
      <a href="{{ url_for('place_detail', obj_id=p.id) }}">{{ p.name }}</a>
      {# <span class="text-muted">({{ p.title }})</span> #}
      ({{ p.events|length }} событий, {{ p.nested_places|length }} мест)
    </dd>
  {% else %}
    <dd>—</dd>
  {% endfor %}

  {% if obj.coords %}
    <dt>На карте</dt>
    <dd><a href="{{ url_for('map_places') }}?lat={{ obj.coords.lat }}&lng={{ obj.coords.lng }}&zoom=11">на карте мест</a></dd>
    <dd><a href="https://google.com/maps/@{{ obj.coords.lat }},{{ obj.coords.lng }},13z">Google Maps</a></dd>
  {% endif %}
</dl>

<!-- h2>Events</h2 -->

<table class="table table-striped table-hover">
  <tr>
    <th>ID</th>
    <th>Subplace</th>
    <th>Date</th>
    <th>Type</th>
    <th>People</th>
    <th>Summary</th>
  </tr>
{% for event in obj.events|sort(attribute='date') %}
  <tr>
    <td>
      <a href="{{ url_for('event_detail', obj_id=event.id) }}">{{ event.id }}</a>
    </td>
    <td>
      {% if event.place.id != obj.id %}
        {{ event.place.name }}
      {% endif %}
    </td>
    <td>
      {{ event.date }}
    </td>
    <td>
      {{ event.type }}
    </td>
    <td>
      <ul>
      {% for p in event.people %}
        <li>
          <a href="{{ url_for('person_detail', obj_id=p.id) }}">{{ p }}</a>
          <span class="text-muted">~{{ p.birth.year }}</span>
        </li>
      {% endfor %}
      </ul>
      <ul>
      {% for f in event.families %}
        <li>семья <a href="{{ url_for('family_detail', obj_id=f.id) }}">{{ f }}</a></li>
      {% endfor %}
      </ul>
    </td>
    <td>
      {{ event.summary }}
    </td>
  </tr>
{% endfor %}
</table>


<h2>Debug</h2>
<dl class="dl-horizontal">
{% for key in obj._data %}
    <dt><code>{{ key }}</code></dt>
    <dd><code>{{ obj._data[key]|pprint }}</code></dd>
{% endfor %}
</dl>

{% endblock %}

