{% extends 'base.html' %}

{% block title -%}{{ obj.abbrev }}{%- endblock %}

{% block heading %}
  {{ obj.title }}
{% endblock %}

{% block content %}

<dl class="dl-horizontal">
  <dt>Repository</dt> <dd>{{ obj.repository }}</dd>
  <dt>Author</dt> <dd>{{ obj.author or '?' }}</dd>
  <dt>Publication</dt> <dd>{{ obj.pubinfo|urlize or '?' }}</dd>
  <dt>Citations</dt>
  <dd>
  {% if obj.citations %}
    <ul>
    {% for citation in obj.citations|list|sort(attribute='date') %}
        <li>
            <a href="{{ url_for('citation_detail', obj_id=citation.id) }}">
                {{ citation.id }} —
                {{ citation.page|urlize or '(page?)' }}
                {% if citation.date %}
                  ({{ citation.date }})
                {% endif %}
            </a>
            {#<code>{{ citation._data|pprint }}</code>#}
            {% for note in citation.notes %}
              <blockquote>
                <p><small>{{ note.text|replace('\n','<br>')|safe }}</small></p>
              </blockquote>
            {% endfor %}

            {% if citation.media %}
              <dt>Файлы</dt>
              {% for media_obj in citation.media %}
              <dd>
                {{ media_obj.description }} ({{ media_obj.date }})
                {{ media_obj.mime }}
                {{ media_obj.src }}
              </dd>
              {% endfor %}
            {% endif %}

        </li>
    {% endfor %}
    </ul>
  {% else %}
    None.
  {% endif %}
  </dd>
</dl>

{% if config.DEBUG %}
  <h2>Debug</h2>
  <code>{{ obj._data|pprint }}</code>
{% endif %}

{% endblock %}
