body {
    margin-top: 50px;
    font-family: Ubuntu, sans-serif;
}
#breadcrumbs {
    font-size: 1.4em;
    line-height: 1;
}
h1, h2, h3 {
    font-family: "Ubuntu Condensed", sans-serif;
}

span.icon-male   { color: blue; }
span.icon-female { color: red; }

/*
 * family tree (basic primitives)
 */
div.bp-item-frame {
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 3px;
    box-shadow: 0 0 5px gray;
    font-size: .8em;
}
div.bp-item-frame span.bp-person-title {
    display: block;
    position: relative;
    padding: .5em;
    color: white;
    background: #033;
    font-weight: normal;
}
div.bp-item-frame span.bp-person-title.gender-male {
    background: Indigo;
}
div.bp-item-frame span.bp-person-title.gender-female {
    background: MediumVioletRed;
}
div.bp-item-frame div.bp-person-description {
    display: block;
    position: relative;
    padding: .5em 1em;
}

@keyframes backgroundPulse {
    0% {background-color: #333399;}
    100% {background-color: #ffcc33;}
}

@keyframes borderPulse {
    0% {border-color: white;}
    100% {border-color: black;}
}

div.bp-item.loading,
div.bp-item.loading span {
    animation: backgroundPulse .5s infinite alternate;
}
