<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Фамилия Аузбикович</title>

    <!-- Latest compiled and minified Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    <!-- Optional Bootstrap theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

    <style type="text/css">
        body {
            margin-top: 50px;
        }
    </style>
  </head>
  <body>
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">WhatTheFamily</a>
          </div>
          <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="{{ url_for('person_index') }}">People</a></li>
              <li><a href="{{ url_for('family_index') }}">Families</a></li>
              <li><a href="{{ url_for('event_index') }}">Events</a></li>
              <li><a href="{{ url_for('place_index') }}">Places</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </nav>

    <div class="container">

      <div class="page-header">
      <h1>{% block heading %}Gramps XML viewer{% endblock %}</h1>
      </div>

      <article>
        {% block content %}
          nothing here
        {% endblock %}
      </article>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!--script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script-->

    <!-- Latest compiled and minified Bootstrap JavaScript -->
    <!--script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script-->
  </body>
</html>
