<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Event Density</title>
    <style>
      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
      #panel {
        position: absolute;
        top: 5px;
        left: 50%;
        margin-left: -180px;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=visualization"></script>
    <script>

var map, pointarray, heatmap;

var MY_MAPTYPE_ID = 'my_simplified_map';

var places = [
    {% for place in places %}
        {% if place.coords %}
            {
                center: new google.maps.LatLng({{ place.coords.lat }},
                                               {{ place.coords.lng }}),
                event_cnt: {{ place.events|list|length }},
                title: '{{ place.title }}',
            },
        {% endif %}
    {% endfor %}
];

function initialize() {
    var mapOptions = {
        zoom: 8,
        center: new google.maps.LatLng(55.55, 26.2),
    };
    map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);


    var place_circle;
    for (var i in places) {
        var place = places[i];
        var circle_options = {
            strokeColor: '#FF0000',
            strokeOpacity: 0.8,
            strokeWeight: 2,
            fillColor: '#FF0000',
            fillOpacity: 0.35,
            map: map,
            center: place.center,
            radius: Math.sqrt(place.event_cnt) * 2000,
        };
        console.log(place, circle_options);
        // Add the circle for this city to the map.
        place_circle = new google.maps.Circle(circle_options);

        var marker = new google.maps.Marker({
            map: map,
            title: place.title,
            position: place.center,
            opacity: 0.5,
        });
    }
}

google.maps.event.addDomListener(window, 'load', initialize);

    </script>
  </head>

  <body>
    <div id="map-canvas"></div>
  </body>
</html>
