<div class="row">
  <div class="col-md6">
    {{#if object_list.isPending}}
      Loading...
    {{else}}
      {{#if object_list}}
        <ul>
          {{#each object_list.value}}
            <li>{{id}} — {{name}}</li>
          {{/object_list}}
        </ul>
      {{else}}
        Nothing to display.
      {{/if}}
    {{/if}}
  </div>
  <div class="col-md6">
      (here could be the quickview...)
  </div>
</div>
