<div class="container">
  <div class="row">

    <!-- List -->
    <div class="col-md-4" style="overflow-y: scroll; height: 100%;">

        <input type="text" placeholder="Filter by name" {($value)}="filterQuery" />

        {{#if object_list.isPending}}
          <p>Loading items...</p>
        {{else}}
          {{#if object_list }}
            <div class="list-group">
              {{#each object_list.value}}
                <button type="button" can-click="selectObject" class="list-group-item" title="{{ id }}">
                  {{ name }}
                </button>
              {{/object_list}}
            </div>
          {{else}}
            Nothing to show.
          {{/if}}
        {{/if}}
    </div>

    <!-- Detail -->
    <div class="col-md-8">
      {{#if selectedObject.isPending }}
        Loading object...
      {{else}}
        {{#with selectedObject}}

          <h2>{{ name }}</h2>

          {{#if coords}}
            <p>{{ coords.lat }}, {{ coords.lng }}</p>

            <wtf-map-places {default-position}="coords" {default-zoom}="zoom"></wtf-map-places>
          {{/if}}

        {{/with}}
      {{/if}}

    </div>
  </div>
</div>
