<div class="container">
  <div class="row">

    <!-- List -->
    <div class="col-md-3" style="overflow-y: scroll; height: 100%;">

        <input name="place-query" type="text" placeholder="Filter by name" {($value)}="filterQuery" />

        {{#if object_list.isPending}}
          <p>Loading items...</p>
        {{else}}
          {{#if object_list }}
            <div class="list-group">
              {{#each object_list.value}}
                <button type="button" can-click="selectObject" class="list-group-item" title="{{ id }}">
                  {{ name }}
                </button>
              {{/object_list}}
            </div>
          {{else}}
            Nothing to show.
          {{/if}}
        {{/if}}
    </div>

    <!-- Detail -->
    <div class="col-md-9">

      <div style="width: 100%; height: 50%">
        <wtf-map-places {(place}="selectedObject" {default-zoom}="zoom"></wtf-map-places>
      </div>

      {{#if selectedObject.isPending }}
        Loading object...
      {{else}}
        {{#with selectedObject}}

          <h2 title="{{id}}">
            {{ name }}
            {{#if coords}}
              <small>{{ coords.lat }}, {{ coords.lng }}</small>
            {{/if}}
          </h2>

          {{#if other_names}}
            <ul class="list-inline">
            {{#other_names}}
              <li>{{.}}</li>
            {{/other_names}}
            </ul>
          {{/if}}

          <h3>Events</h3>
          <table class="table table-condensed">
            <tbody>
              {{#each relatedEvents.value}}
                <tr title="{{id}}">
                  <td>
                    {{date}}
                  </td>
                  <td>
                    {{type}}
                  </td>
                  <td>
                    <ul class="list-inline">
                      {{#people}}
                        <li>{{name}} {{#if birth}}{{birth}}{{/if}}</li>
                      {{/people}}
                    </ul>
                  </td>
                  <td>
                    {{summary}}
                  </td>
                </tr>
              {{/relatedEvents}}
            </tbody>
          </table>

        {{/with}}
      {{/if}}

    </div>
  </div>
</div>
